<tr>
  <td><%= booking.id %></td>
  <td><%= booking.user_name %></td>
  <td><%= booking.title %></td>
  <td><%= link_to tour_id(booking), admin_tour_path(tour_id(booking)), class: "link-primary" %>
  <td><%= booking.start_date_format %></td>
  <td><%= booking.end_date_format %></td>
  <td>
    <span class="link-<%= Booking::COLORS[booking.status] %>">
      <%= booking.show_status %>
    </span>
  </td>
  <% if booking.pending? %>
    <td><div class="btn-group" role="group">
      <%= link_to t(".accept"), admin_booking_path(id: booking.id,
                                    status: Settings.booking.status.accept),
                    data: {confirm: t(".confirm_accept")},
                    method: :patch, class: "btn btn-success" %>
      <td><%= link_to t(".cancel"), admin_booking_path(id: booking.id,
                                    status: Settings.booking.status.cancel),
                    data: {confirm: t(".confirm_cancel")},
                    method: :patch, class: "link-danger" %></td>
    </div></td>
  <% end %>
</tr>
