<div class="container pt-5">
  <h5><%= t ".title" %></h5>
  <% if @bookings.present? %>
    <table class="table table-hover">
      <thread class="thead-light">
        <tr>
          <td>#</td>
          <td><%= t ".user_name" %></td>
          <td><%= t ".schedule_name" %></td>
          <td>Tour ID</td>
          <td><%= t ".start_date" %></td>
          <td><%= t ".end_date" %></td>
          <td><%= t ".status" %></td>
          <td></td>
          <td></td>
        </tr>
      </thread>
      <tbody>
        <%= render @bookings %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav @pagy %>
  <% else %>
    <p class="mt-5 text-center"><%= t ".no_booking_request" %></p>
  <% end %>
</div>
