<tr>
  <td><%= tour.id %></td>
  <td><%= link_to tour.title, "admin/tours/#{tour.id}" %></td>
  <td><%= tour.show_active %></td>
  <td><%= tour.created_at.strftime Settings.date_time.format %></td>
  <td><%= link_to t(".delete"), "#" %>
</tr>
