<div class="nested-fields">
  <%= f.label :title, t(".title"), class: "mt-2" %>
  <%= f.text_field :title, class: "form-control mb-2" %>
  <div class="form-group">
    <%= f.label :start_date, t(".from") %>
    <%= f.datetime_select :start_date, class: "form-controll" %><br>
  </div>
  <div class="form-group">
    <%= f.label :end_date, t(".to") %>
    <%= f.datetime_select :end_date, class: "form-controll" %>
  </div>
  <%= link_to_remove_association t(".remove_schedules"), f %>
</button>
