<div class="card mt-5">
  <div class="card-header">
    <%= t ".header" %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Tour <%= @tour.id %></h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b><%= t ".title" %></b> <%= @tour.title %></li>
      <li class="list-group-item"><b><%= t ".des" %></b> <%= @tour.description %></li>
      <li class="list-group-item"><b><%= t ".status" %></b> <%= @tour.active %></li>
      <li class="list-group-item flex-column">
        <b><%= t ".img" %></b>
        <div>
          <% tour_images.each do |i| %>
            <%= image_tag i, size: "128"%>
          <% end %>
        </div>
      </li>
      <li class="list-group-item flex-column">
        <b><%= t ".schedules" %></b>
        <ul class="list-group list-group-flush">
          <% @tour.tour_schedules.each do |s| %>
            <li class="list-group-item">
              <b><%= t ".schedule_title" %></b><%= s.title %>,
              <b><%= t ".from" %></b><%= s.start_date_format %>,
              <b><%= t ".to" %></b><%= s.end_date_format %>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="list-group-item">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= t ".reviews" %></h5>
            <ul class="list-group list-group-flush">
              <% @tour.reviews.each do |r| %>
                <li class="list-group-item">
                  <%= t ".comment", {content: r.comment, name: r.user_name, time: r.created_at.strftime(Settings.date_time.format)} %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <%= link_to t(".edit"), edit_admin_tour_path(@tour.id), class: "btn btn-primary mt-1" %>
  </div>
</div>
