<tr>
  <td><%= booking.id %></td>
  <td><%= booking.title %></td>
  <td><%= booking.tour_schedule.tour_title %></td>
  <td><%= booking.start_date_format %></td>
  <td><%= booking.end_date_format %></td>
  <td>
    <span class="link-<%= Booking::COLORS[booking.status] %>">
      <%= booking.show_status %>
    </span>
  </td>
  <% if booking.pending? %>
    <td><%= link_to t(".cancel"), "#", class: "link-danger" %></td>
  <% end %>
</tr>
