<div class="mt-5">
  <h5><%= t ".title" %></h5>
  <% if @bookings.present? %>
    <table class="table table-hover">
      <thread class="thead-light">
        <tr>
          <td>#</td>
          <td><%= t ".schedule_name" %></td>
          <td><%= t ".tour_title" %></td>
          <td><%= t ".start_date" %></td>
          <td><%= t ".end_date" %></td>
          <td><%= t ".status" %></td>
          <td></td>
        </tr>
      </thread>
      <tbody>
        <%= render @bookings %>
      </tbody>
    </table>
  <% else %>
    <div class="text-center mt-5"><%= t ".no_bookings" %></div>
  <% end %>
</div>
