<div class="modal fade" id="cmtModal<%= tour.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= t ".title" %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% get_reviews(tour).each do |r| %>
          <div class="card mb-3">
            <div class="card-header">
              <%= r.user_name %>
            </div>
            <div class="card-body">
              <%= r.comment %>
            </div>
            <div class="card-footer text-muted">
              <%= r.updated_at.strftime(Settings.date_time.cmt_format) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
