<%= search_form_for @q, url: get_path, method: :get,
                    class: "d-flex flex-grow-1 mb-3" do |f| %>
  <div class="m-2">
    <%= f.label :title_count, t(".by_title"), class: "form-lable" %>
    <%= f.search_field :title_cont, class: "form-control" %>
  </div>
  <div class="m-2">
    <%= f.label :tour_schedules_start_date_gteq , t(".search_start_date"),
                  class: "form-lable" %>
    <%= f.date_field :tour_schedules_start_date_gteq, class: "form-control" %>
  </div>
  <div class="m-2">
    <%= f.label :tour_schedules_end_date_lteq , t(".search_end_date"),
                  class: "form-lable" %>
    <%= f.date_field :tour_schedules_end_date_lteq, class: "form-control" %>
  </div>
  <div class="mt-4 pt-3">
    <%= f.submit t(".submit_btn"), class: "btn btn-success" %>
  </div>
<% end %>
