<div class="col-lg-4 col-md-6 mb-4">
  <div class="package-item bg-white mb-2">
    <%= image_tag tour.images.first, class: "img-fluid" %>
    <div class="p-4">
      <div class="d-flex justify-content-between mb-3">
        <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>3 <%= t ".day" %></small>
      </div>
      <%= link_to tour.title, "/tours/#{tour.id}", class: "h5 text-decoration-none" %>
      <div class="border-top mt-4 pt-4">
        <div class="d-flex justify-content-between">
          <%= link_to "#" do %>
            <h6 class="m-0">
              <i class="fa fa-comment text-primary mr-2"></i>45 <small><%= t ".comments" %></small>
            </h6>
          <% end %>
          <%= link_to t(".book_now"), "/tour_schedules/#{tour.id}", class: "btn btn-primary mt-1" %>
        </div>
      </div>
    </div>
  </div>
</div>
