<div class="container-fluid py-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-6 min-height-500">
        <div class="position-relative h-100">
          <%= image_tag @tour.images[0], class: "position-absolute w-100 h-100" %>
        </div>
      </div>
      <div class="col-lg-6 pt-5 pb-lg-5">
        <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
          <h6 class="text-primary text-uppercase spacing_letter"><%= t ".about" %></h6>
          <h1 class="mb-3"><%= @tour.title %></h1>
          <p><%= @tour.description %></p>
          <div class="row mb-4">
            <div class="col-6">
              <%= image_tag @tour.images[1], class: "img-fluid" %>
            </div>
            <div class="col-6">
              <%= image_tag @tour.images[2], class: "img-fluid" %>
            </div>
          </div>
          <h5 class="text-primary"><%= t ".schedule" %></h5>
          <% @tour.tour_schedules.each do |s| %>
            <p>
              <b>
                <%= t ".from" %>: <%= s.start_date.strftime Settings.date_time.format %> <%= t ".to" %>: <%= s.end_date.strftime Settings.date_time.format %>
              </b>
            </p>
            <p><%= s.title %></p>
          <% end %>
          <a href="" class="btn btn-primary mt-1"><%= t ".book_now" %></a>
        </div>
      </div>
    </div>
  </div>
</div>
