<div class="container-fluid">
  <div class="container pt-5 pb-3">
    <div class="row">
      <h5><%= t ".table_title" %></h5>
      <% if @tours.empty? %>
        <%= t ".no_tours_msg" %>
      <% else %>
        <table class="table table-hover">
          <thread class="thead-light">
            <tr>
              <td><%= t ".id" %></td>
              <td><%= t ".title" %></td>
              <td><%= t ".active" %></td>
              <td><%= t ".created_date" %></td>
              <td><%= t ".updated_at" %></td>
              <td></td>
            </tr>
          </thread>
          <tbody>
            <%= render @tours %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <%== pagy_bootstrap_nav @pagy %>
</div>
