<div class="card mt-3">
  <div class="card-header">
    <%= yield :title %>
  </div>
  <%= form_for @tour, url: get_form_path(@tour.id) do |f| %>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <%= render "admin/shared/error_messages", object: f.object %>
        <li class="list-group-item">
          <%= f.label :title, t(".title") %>
          <%= f.text_field :title, class: "form-control" %>
          <%= f.label :description, t(".description") %>
          <%= f.text_area :description, class: "form-control" %>
          <%= f.label :active, class: "checkbox inline" do %>
            <%= f.check_box :active %>
            <span><%= t ".active" %></span>
          <% end %>
        </li>

        <li class="list-group-item">
          <%= f.label :images, t(".images"), class: "d-block" %>
          <%= f.file_field :images, accept: Settings.images.formats, multiple: true, class: "form-control" %>
        </li>

        <li class="list-group-item">
          <p><strong><%= t ".schedules" %>:</strong></p>
          <div id="tour_schedules">
            <%= f.fields_for :tour_schedules do |schedule| %>
              <%= render "tour_schedule_fields", f: schedule %>
            <% end %>
          </div>
          <div class="links mt-2">
            <%= link_to_add_association t(".add_schedule"), f, :tour_schedules %>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <%= f.submit t(".submit_btn"), class: "btn btn-primary" %>
      <%= link_to t(".cancel_btn"), get_cancel_path(@tour.id), class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
